################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AgeSmartVocabulary/FileContentIndex/84942a58-3839-4399-8f13-5bf84a84bd0f.vsidx
/.vs/AgeSmartVocabulary/FileContentIndex
